<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Books Store</a>

  <!-- Links -->
  <ul class="navbar-nav">
    

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" >
        Books Category
      </a>
      <div class="dropdown-menu">
          <a class="dropdown-item"  routerLink="/allbooks">All Books</a>
        <a class="dropdown-item"  routerLink="/Inspbook">Inspirational</a>
        <a class="dropdown-item"  routerLink="/Ficbook">Fictional</a>
        <a class="dropdown-item"  routerLink="/Selfbook">SelfHelp</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>